:root {
    --background: #121212;
    --yellow: #FCEC3E;
    --GlowBlue: #C5D3E8;
    --button: #4BB5F2;
}

@font-face {
    font-family: FredokaOne;
    src: url(fonts/FredokaOne.woff2);
}

@font-face {
    font-family: LuckiestGuy;
    src: url(fonts/LuckiestGuy-Regular.ttf);
}

@font-face {
    font-family: PlusJakartaSans;
    src: url(fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

body {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.textLogo {
    position: relative;
    height: 20vh;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}

.Top {
    font-size: 8vw; 
    text-shadow:
      0 0 0.5vw #FFD700,
      0 0 1vw #FFC107,
      0 0 1.5vw #FFA000;
    margin: 0;
    transform: rotateZ(-15deg);
    position: absolute;
    right: -7vw;
    z-index: -1;
    font-family: LuckiestGuy;
    color: var(--yellow);
}

.Bot {
    top: 6vw;    /* relative positioning */
    left: 3vw;
    font-weight: 100;
    font-size: 5vw;
    font-family: LuckiestGuy;
    text-shadow:
      0 0 0.4vw #7FE6FF,
      0 0 0.8vw #00BFFF,
      0 0 1.2vw #00BFFF;
    margin: 0;
    letter-spacing: 0.1vw;
    transform: rotateZ(5deg);
    position: absolute;
    z-index: 0;
    color: var(--GlowBlue);
}

.init {
    transform: scale(0.1);
    transition: transform 0.2s ease-out, opacity 0.2s;
    opacity: 0;
}

.visible {
    opacity: 1;
    transform: scale(1);
}

button {
    background: linear-gradient(90deg, #4bc2e0 0%, #1a71ca 100%);
    border: none;
    border-radius: 25px;
    padding: 15px 60px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 12px #4bc2e0;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(90deg, #1a71ca 0%, #4bc2e0 100%);
}

.container {   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: plusJakartaSans;
    color: white;
}
