body {
  background-color: #f0f0f0;
}

@supports (selector(.test .child)) {
  .edit-page{
    .wrapper {
      margin-top: 2vh;
      display: flex;
      flex-direction: column;
      gap: 1vh;
      align-items: center;
    }

    .questionBlock {
      display: flex;
      flex-direction: column;
      width: 35vw;
      background-color: #27c5f5;
      border-radius: 10px;
      padding: 10px;
    }

    .question {
      margin-bottom: 2vh;
    }

    .answerBlock {
      display: flex;
      justify-content: space-between; 
    }
    
    .answersLeft {
      display: flex;
      flex-direction: column;
      gap: 1vh;
    }

    .answersRight {
      display: flex;
      flex-direction: column;
      gap: 1vh;
    }

    input {
      text-align: center;
      border: none;
      border-bottom: solid 1px;
      background: none;
      font-size: 15px;
    }
  }
}

@supports not (selector(.test .child)) {
  body {
    background-color: red;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #275ef5;
  height: 5vh;
  border-radius: 15px;
}

.title {
  margin-left: 1vw;
  color: white;
  font-size: 20px;
  align-self: center;
}

.userAction {
  padding-left: 2vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  background-color: #f0f0f0;
}

.userAction button {
  width: 100px;
  border: none;
  background-color: #27f5be;
  border-radius: 15px;
}

.wrapper {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
}

.dropbtn {
  background-color: #27c5f5;
  color: white;
  border: none;
  width: 80vw;
  height: 5vh;
  border-radius: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: relative;
  min-width: 160px;
  background-color: #f0f0f0;
}

.dropdownContent button {
  margin-top: 1vh;
  color: black;
  background: none;
  border: none;
  align-self: center;
  width: 25vw;
  height: 3vh;
  border-radius: 15px;
}

.show {
  display: flex;
  justify-content: space-between;
  height: 3vh;
  border-radius: 10px;
  padding-inline: 1vw;
}

.addNew {
  margin-top: 1vh;
  color: black;
  background: #27f5be;
  border: none;
  align-self: center;
  width: 25vw;
  height: 3vh;
  border-radius: 15px;
}
